.userForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    width: 40vw;
    height: 40vh;
    margin: 5px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.userForm__container label{
    margin-top: 5px;
}

.userForm__container label input {
    padding: 10px;
    width: 100%;
}