.icon__btn {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 2px;
    transition: 0.3s;
}

.icon__btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

