.item__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 5px;
    padding: 10px;
}

.add__new {
    width: 300px;
}

.button_add_new {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.button_add_new:hover {
    background: orange;
}

.item__title {
    text-transform: uppercase;
    letter-spacing: 2px;
}