.notify__container,
.calendar__container,
.taskList__container {
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    width: 300px;
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.45);
    transition: 0.3s;
}

.popups__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.popups__header h1 {
    text-transform: lowercase;
    font-weight: 200;
}

.popups__header button {
    margin-right: 10px;
    background: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.popups__header button:hover {
    border-color: red;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}